@import "main_layout";

.info{
    position: relative;
    top: 20vh;
    left: 10vw;
    width: 40vw;
}

.info_img{
    position: relative;
    top: -15vh;
    left: 60vw;
    width: 30vw;
}