@import "main_layout";


.sesion{
    position: relative;
    display: block;
    @media (max-width:800px){
        width: 70vw;
        left: 15vw;
    }
    @media (min-width:801px){
        width: 40vw;
        left: 30vw;
    }
    top:20vh;
    text-align: center;
    &>input{
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
        height: 48px;
        margin-bottom: 15px;
    }
    &>.boton{
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
        height: 48px;
        margin-bottom: 15px;
    }
}