@import "main_layout";

.producto{
    position: relative;
    margin: 0%;
    top: 5%;
    text-align: center;
}

.comprar_producto>img{
    position: relative;
    width:30%;
    height: auto;
    top:30%;
}

.comprar_producto{
    position: absolute;
    top:35%;
    width:60%;
    text-align: center;
}

.compra{
    position: absolute;
    top: 30%;
    right: 10%;
    height: 10%;
    width: 30%;
    margin-bottom: 0.5%;
}