body, html{
    background-color: #F1F2C4;
    margin: 0%;
    font-family:'Gill Sans MT';
}

header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #A7732F;
    height: 10%;
}

.Logo>img{
    position: absolute;
    width: 4vw;
    height: auto;
    top: 1vh;
    left: 6vw;
    z-index: 1;
}

.InicioSesion{
    position: relative;
    bottom: 10%;
    background: #9FD72A;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgb(59 57 55 / 20%);
    color: #D8093B;
    cursor: pointer;
    font-weight: bolder;
    height: 65px;
    font-size: 20px;
    letter-spacing: .1rem;
    margin-bottom: 0.5%;
}

.menu{
    display: flex;
    background: none;
    position: absolute;
    align-content: flex-end;
    bottom: 0;
    right: 5%;
    width: 100%;
    flex-flow: row-reverse nowrap;
}

.menu>input:hover:not(.InicioSesion){
    border-left: 2px solid #c68532;
    border-right: 2px solid #c68532;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
}

.menu>input:not(:hover):not(.InicioSesion){
    border: none;
}

.menu>input:not(.InicioSesion){
    padding: 0;
    margin: 0;
    background: none;
    color: white;
    font-size: 18px;
    align-self: center;
    width: 110px;
    height: 50px;
}

.breadcrumbs{
    position: absolute;
    top: 12%;
    left: 5%;
}

.breadcrumbs>a{
    color: rgb(0, 166, 255);
    text-decoration: none;
}

.breadcrumbs>a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.ofertas{
    position: absolute;
    display: grid;
    top: 10vw;
    grid-template:repeat(4, 30vw)/11vw 20vw 8vw 20vw 8vw 20vw 11vw;
    grid-row-gap:10vw;
}

.productos{
    position: absolute;
    display: grid;
    top: 10vw;
    grid-template:repeat(4, 30vw)/11vw 20vw 8vw 20vw 8vw 20vw 11vw;
    grid-row-gap:10vw;
}

.ofertas>div{
    background-color: rgba(65, 144, 26, 0.4);
}

.ofertas>div:nth-child(3n+1){
    grid-column-start: 2;
}

.ofertas>div:nth-child(3n+2){
    grid-column-start: 4;
}

.ofertas>div:nth-child(3n){
    grid-column-start: 6;
}

.productos>div{
    background-color: rgba(65, 144, 26, 0.4);
}

.productos>div:nth-child(3n+1){
    grid-column-start: 2;
}

.productos>div:nth-child(3n+2){
    grid-column-start: 4;
}

.productos>div:nth-child(3n){
    grid-column-start: 6;
}

.descuento{
    position: absolute;
    background-color: rgb(65,144,26);
    margin: 0%;
    text-align: center;
    width: 3em;
    padding: 0.5em;
}

.ofertas>div>img{
    position: relative;
    width:60%;
    height: auto;
    top:10%;
    left: 20%;
}

.producto{
    position: relative;
    margin: 0%;
    top: 5%;
    text-align: center;
    font-size: 2.5vw;
}

.precio>p{
    position: relative;
    top: 10%;
    text-align: center;
}


.precioPrincipal{
    font-size: 1.875vw;
}

.precioSecundario{
    font-size: 1px;
}

.comprar_producto>img{
    position: relative;
    width:30%;
    height: auto;
    top:30%;
}

.comprar_producto{
    position: absolute;
    top:35%;
    width:60%;
    text-align: center;
}

.sesion{
    position: relative;
    display: block;
    width: 40vw;
    left: 30vw;
    top:20vh;
    background-color: white;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 10px;
}

.sesion>label{
    color: #91c71c;
}

.sesion>input{
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    color: #312f40;
    border: 1px solid #a0a9ba;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

.sesion>.boton{
    background-color: #91c71c;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    color: #312f40;
    border: 1px solid #a0a9ba;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

.info{
    position: relative;
    top: 20vh;
    left: 10vw;
    width: 40vw;
    font-size: 1.5em;
}

.info_img{
    position: relative;
    top: -15vh;
    left: 60vw;
    width: 30vw;
}

footer{
    position: fixed;
    background-color: #1e1e1e90;
    display: grid;
    bottom: 0px;
    grid-template:4vh 4vh/34vw 34vw;
    grid-column-gap:30.5vw;
    text-align: center;
}

.compra{
    position: absolute;
    top: 30%;
    right: 10%;
    background: rgb(65, 144, 26);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgb(59 57 55 / 20%);
    cursor: pointer;
    font-weight: bolder;
    height: 10%;
    width: 30%;
    font-size: 20px;
    letter-spacing: .1rem;
    margin-bottom: 0.5%;
}